<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div th:fragment="header-menu" class="header-menu-wrapper">

    <div class="hamburger-wrapper desktop-sidebar-btn" id="collapse-side-bar">
        <img th:src="@{/images/icon/sidebar.svg}" class="hamburger" alt="">
    </div>
    <div class="hamburger-wrapper mobile-sidebar-btn" type="button" data-bs-toggle="offcanvas"
         data-bs-target="#mobile-sidebar">
        <img th:src="@{/images/icon/sidebar.svg}" class="hamburger" alt="">
    </div>
    <div>
        <div layout:insert="~{fragments/fragments :: dropdown-menu (name = 'Kyaw Zayar')}">
            <div layout:fragment="dropdown-links">
                <a th:replace="~{fragments/fragments :: link (name='Profile', href='/user/profile')}"></a>
                <hr class="dropdown-divider">
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="dropdown-item">Logout</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>