<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard-layout}" th:with="page='Profile'">
<head>
    <title>User Profile</title>
</head>
<body>
<main layout:fragment="content">
    User Profile
</main>

<!-- For Only Script Tags -->
<div layout:fragment="js-scripts"></div>

<!-- For Javascript Codes -->
<script layout:fragment="js" th:inline="javascript"></script>

</body>
</html>