<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard-layout}" th:with="page='User List'">
<head>
    <title>User List</title>
    <link rel="stylesheet" th:href="@{/css/pagination.css}">
</head>
<body>
<main layout:fragment="content">
    <div class="table-search">
        <h5 class="mb-2">Search</h5>
        <div class="d-flex align-items-end gap-2">
            <div>
                <label for="name">Name</label>
                <input type="text" id="name" class="form-input">
            </div>
            <button class="primary-btn" onclick="filterTable()">Filter</button>
        </div>
    </div>
    <div class="table-actions">
        <div class="action-buttons">
            <button class="primary-btn me-2" onclick="exportExcel()">
                    <span>
                        <img th:src="@{/images/icon/download.svg}" alt=""
                             class="btn-icon me-2">
                    </span>
                Excel Export
            </button>
            <button class="border-btn">
                    <span>
                        <img th:src="@{/images/icon/upload.svg}" alt=""
                             class="btn-icon me-2">
                    </span>
                Excel Import
            </button>
        </div>
        <div th:include="~{fragments/fragments :: list-size}" class="action-list-size"></div>
    </div>
    <div class="table-responsive">
        <table class="table" id="user-list">
            <thead>
            <tr>
                <th>Id</th>
                <th data-column-name="name">
                    <span>
                        Name
                        <span th:replace="fragments/fragments :: sort-asc-icon"></span>
                    </span>
                </th>
                <th data-column-name="email">
                    <span>
                        Email
                    </span>
                </th>
                <th data-column-name="phoneNo">
                    <span>
                        Phone Number
                    </span>
                </th>
                <th data-column-name="gender">
                    <span>
                        Gender
                    </span>
                </th>
                <th data-column-name="dob">
                    <span>
                        Date of Birth
                    </span>
                </th>
                <th data-column-name="locked">
                    <span>
                        Locked
                    </span>
                </th>
                <th data-column-name="activated">
                    <span>
                        Activated
                    </span>
                </th>
                <th data-column-name="createdAt">
                    <span>
                        Created At
                    </span>
                </th>
                <th data-column-name="UpdatedAt">
                    <span>
                        Updated At
                    </span>
                </th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <div th:replace="~{fragments/fragments :: table-footer}"></div>
</main>

<!-- For Only Script Tags -->
<div layout:fragment="js-scripts">
    <script th:src="@{/js/external/pagination/pagination.min.js}"></script>
    <script th:src="@{/js/search-table.js}"></script>
    <script th:src="@{/js/generate-file.js}"></script>
</div>

<!-- For Javascript Codes -->
<script layout:fragment="js" th:inline="javascript">
    // For search Payload
    const searchPayload = {
        name: '',
        pageNo: 1,
        size: 10,
        sortColumnName: 'name',
        sortDir: 'asc'
    }

    // For Adding rows into table
    const addTableBody = async () => {
        const data = await fetchDataForTable("http://localhost:8080/user/user-list", searchPayload);
        const apiResponse = getApiResponse(data)

        let rows = ''
        apiResponse.contents.forEach((data, index) => {
            const {
                dob, gender, createdAt, email,
                activated, name, locked, phoneNo, updatedAt
            } = data;
            rows += `<tr>
                <td>${getDummyTableNumber(searchPayload, index)}</td>
                <td style="min-width: 200px;">${name}</td>
                <td style="min-width: 250px;">${email}</td>
                <td style="min-width: 180px;">${phoneNo}</td>
                <td style="min-width: 150px;">${gender}</td>
                <td style="min-width: 180px;">${dob}</td>
                <td style="min-width: 150px;">${locked}</td>
                <td style="min-width: 150px;">${activated}</td>
                <td style="min-width: 230px;">${createdAt}</td>
                <td style="min-width: 230px;">${checkStringNullOrRenderStringForDataTable(updatedAt)}</td>
            </tr>`
        });

        if (rows === '') {
            rows = getEmptyRow(10)
        }

        // table id
        document.querySelector("#user-list > tbody").innerHTML = rows
        return apiResponse;
    }

    createDataTable(searchPayload, addTableBody, "user-list")


    const filterTable = () => {
        searchPayload.name = document.getElementById("name").value
        createDataTable(searchPayload, addTableBody, "user-list")
    }

    const exportExcel = () => {
        getFile("http://localhost:8080/user/export-excel", searchPayload)
    }
</script>
</body>
</html>