<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard-layout}" th:with="page='Home'">
<head>
    <title>Home</title>
</head>
<body>
<main layout:fragment="content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae culpa enim fugit
    necessitatibus quaerat sed unde voluptatem. Consequuntur doloremque exercitationem impedit
    maxime nam nemo numquam obcaecati praesentium qui quibusdam quidem sapiente tempore temporibus
    tenetur, vel! Ab dolores et nihil optio. Adipisci alias amet architecto aspernatur, beatae
    blanditiis consectetur debitis dolor doloribus et ex illo impedit ipsum laboriosam, magnam nam
    necessitatibus neque non officiis perspiciatis placeat quas quia quidem ratione, repellendus
    soluta tenetur veniam. Accusantium amet asperiores beatae blanditiis consequatur debitis dicta
    doloremque doloribus earum eligendi et eum eveniet explicabo facere fuga inventore iste iure
    laboriosam laborum magni minima, modi molestias necessitatibus neque nisi nostrum omnis
    perspiciatis porro provident quas quisquam repudiandae similique suscipit tempora velit
    veritatis voluptates. Accusantium architecto culpa deserunt dicta distinctio dolor excepturi
    facilis illo in, magnam magni nesciunt odio officia officiis perferendis perspiciatis porro quas
    quasi qui rerum saepe sequi soluta tenetur totam vel voluptates voluptatibus voluptatum! A
    aspernatur culpa cupiditate dolorum error, et eveniet excepturi expedita maxime nisi provident
    quia, quibusdam rerum sint tempore. Accusantium animi dolor id, ipsum minima nam praesentium
    quae quasi recusandae sit suscipit temporibus? Consequatur cum dolorem ipsam labore molestiae
    mollitia recusandae sed sit soluta. Aut esse quia quibusdam quisquam, quo suscipit. Blanditiis,
    eius harum magni rerum ut vero! Ab adipisci aperiam consequatur deserunt dicta dolorum, eos,
    esse, iure iusto numquam quia quos ullam. Ab aliquam amet atque autem blanditiis cum cupiditate
    dignissimos dolores est ex expedita harum incidunt ipsam iure maxime mollitia nihil nobis
    numquam obcaecati pariatur placeat possimus quas quidem quis quisquam quos repudiandae sequi sit
    sunt, unde vel vero voluptates voluptatibus. Dignissimos dolorum, eius enim fugit numquam
    perspiciatis provident quo reiciendis. At deleniti enim expedita facilis impedit, iure, modi
    nisi odio officia provident, quaerat quo reprehenderit sequi suscipit tempora! Ad eaque fugiat
    inventore veritatis! Deserunt earum eos provident.
</main>

<!-- For Only Script Tags -->
<div layout:fragment="js-scripts"></div>

<!-- For Javascript Codes -->
<script layout:fragment="js" th:inline="javascript">

</script>
</body>
</html>