<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard-layout}" th:with="page='Home'">
<head>
    <title>Home</title>
</head>
<body>
<main layout:fragment="content">
    <div class="mb-3 d-flex justify-content-between p-1">
        <div>
            <button class="primary-btn me-2">
                    <span>
                        <img th:src="@{/images/icon/download.svg}" alt=""
                             class="btn-icon me-2">
                    </span>
                Excel Export
            </button>
            <button class="border-btn">
                    <span>
                        <img th:src="@{/images/icon/upload.svg}" alt=""
                             class="btn-icon me-2">
                    </span>
                Excel Import
            </button>
        </div>
        <div>
            <div class="d-flex align-items-center gap-2">
                <label for="list-size" class="text-nowrap">List Size:</label>
                <select id="list-size" class="form-input">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>

        </div>
    </div>
    <div class="table-responsive">
        <table class="table" id="user-list">
            <thead>
            <tr>
                <th>Id</th>
                <th data-column-name="name">
                    <span>
                        Name
                        <img th:src="@{/images/icon/sort-up.svg}" alt=""
                             class="sort-icon">
                    </span>
                </th>
                <th data-column-name="email">
                    <span>
                        Email
                        <img th:src="@{/images/icon/sort-up.svg}" alt=""
                             class="sort-icon d-none">
                    </span>
                </th>
                <th data-column-name="phoneNo">
                    <span>
                        Phone Number
                        <img th:src="@{/images/icon/sort-up.svg}" alt=""
                             class="sort-icon d-none">
                    </span></th>
                <th data-column-name="gender">
                    <span>
                        Gender
                        <img th:src="@{/images/icon/sort-up.svg}" alt=""
                             class="sort-icon d-none">
                    </span>
                </th>
                <th data-column-name="dob">
                    <span>
                        Date of Birth
                        <img th:src="@{/images/icon/sort-up.svg}" alt=""
                             class="sort-icon d-none">
                    </span>
                </th>
                <th data-column-name="locked">
                    <span>
                        Locked
                        <img th:src="@{/images/icon/sort-up.svg}" alt=""
                             class="sort-icon d-none">
                    </span>
                </th>
                <th data-column-name="activated">
                    <span>
                        Activated
                        <img th:src="@{/images/icon/sort-up.svg}" alt=""
                             class="sort-icon d-none">
                    </span>
                </th>
                <th data-column-name="createdAt">
                    <span>
                        Created At
                        <img th:src="@{/images/icon/sort-up.svg}" alt=""
                             class="sort-icon d-none">
                    </span>
                </th>
                <th data-column-name="UpdatedAt">
                    <span>
                        Updated At
                        <img th:src="@{/images/icon/sort-up.svg}" alt=""
                             class="sort-icon d-none">
                    </span>
                </th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <div id="table-footer" class="d-flex justify-content-between">
        <div>Info</div>
        <div>Pagination</div>
    </div>
</main>

<!-- For Only Script Tags -->
<div layout:fragment="js-scripts"></div>

<!-- For Javascript Codes -->
<script layout:fragment="js" th:inline="javascript">

    // For search Payload
    const searchPayload = {
        name: '%b',
        pageNo: 1,
        size: 10,
        sortColumnName: 'name',
        sortDir: 'asc'
    }

    // For Adding rows into table
    const addTableBody = async () => {
        const data = await fetchDataForTable("http://localhost:8080/user/list", searchPayload);
        const apiResponse = {
            totalCount: data.totalCount,
            filterCount: data.filterCount,
            totalPages: data.totalPages,
            contents: data.contents
        }

        let rows = ''
        apiResponse.contents.forEach((data, index) => {
            const {
                dob, gender, createdAt, email,
                activated, name, locked, phoneNo, updatedAt
            } = data;
            rows += `<tr>
                <td>${index + 1}</td>
                <td style="min-width: 200px;">${name}</td>
                <td style="min-width: 250px;">${email}</td>
                <td style="min-width: 180px;">${phoneNo}</td>
                <td style="min-width: 100px;">${gender}</td>
                <td style="min-width: 150px;">${dob}</td>
                <td style="min-width: 100px;">${locked}</td>
                <td style="min-width: 100px;">${activated}</td>
                <td style="min-width: 230px;">${createdAt}</td>
                <td style="min-width: 230px;">${updatedAt}</td>
            </tr>`
        });

        // table id
        document.querySelector("#user-list > tbody").innerHTML = rows
        return apiResponse;
    }

    createDataTable(searchPayload, addTableBody, "user-list", "list-size", "table-footer")


</script>
</body>
</html>